<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
	<title>Flanet Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<!-- css -->
	<link href="/stylesheets/reset.css" type=text/css rel=stylesheet>
	<link href="/stylesheets/flanet.css" type=text/css rel=stylesheet>
	<!-- basic library -->
	<script type="text/javascript" src="/scripts/kinetic-v3.9.2.js"></script>
	<script type="text/javascript" src="/scripts/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="/scripts/box2djs.0.2.0.jquery.min.js"></script>
	<!-- flanet -->
	<script type="text/javascript" src="/scripts/flanet-v1.0.5.js"></script>
</head>
<body>
	<!-- initialize fb-root -->
	<div id="fb-root"></div>
	<script type="text/javascript">
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '<%= app.id %>',
				status     : true,
				cookie     : true,
				xfbml      : true
			});
			FB.Event.subscribe('auth.login', function(res) {
				window.location = window.location;
			});
			FB.Canvas.setAutoGrow();
		};
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = '//connect.facebook.net/en_US/all.js';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- initialize flanet stage -->
	<div id="stage"></div>
	<script>
		var container = $('#stage');
		container.width($(window).width());
		container.height($(window).height());
		var width = container.width();
		var height = container.height();
		var x = width * .5;
		var y = height * .5;
		var scale = 50;
		//flanet initialize
		Flanet.init({ container : 'stage' });
	</script>
	<% if (!user) { %>
		<div class="header">
			<h2>
				Welcome to Flanet Project.
			</h2>
			<a href="/auth/facebook">
				&gt; Login with Facebook
			</a>
		</div>
		<script>
			var world = new Flanet.World({
				centerPanel : new Flanet.Panel({
					x : x,
					y : y,
					width : scale,
					height :scale,
					content : {
						id : '0',
						name : 'Greetings~',
						imgSrc : ''
					}
				}),
				width : width,
				height : height
			});
			Flanet.addWorld(world);
			var string = [
				"This is Panel."
				, "Just Drag it."
				, "Click to Fb feed"
				, "yeah~"
				, "have a nice day~"
			];
			for(var i = 0 ; i < 5; i ++){
				var s = Math.random() * (scale - 10) + 30;
				world.addPanel(new Flanet.Panel({
					x : x + (Math.random() * 600 - 300),
					y : y + (Math.random() * 600 - 300),
					width : s,
					height : s,
					content : {
						id : '0',
						name : string[i],
						imgSrc : '',
					}
				}));
			}
		</script>
	<% } else { %>
		<div class="header">
			<h2>
				Hello, <%= user.name.givenName %>.
			</h2>
			<a href="/logout">
				&gt; Logout
			</a>
		</div>
		<script>
			var world = new Flanet.World({
				centerPanel : new Flanet.Panel({
					x : x,
					y : y,
					width : scale,
					height : scale,
					content : {
						id : '<%= user.id %>',
						name : '<%= user.name.givenName %>',
						imgSrc : 'https://graph.facebook.com/<%= user.id %>/picture?type=square',
						clicked : function(){
							FB.ui({
								method : 'feed',
								link : $(this).attr('data-url')
							},
							function(res){
								if (res != null)
									logResponse(res);
							});
						},
						dragged : function(){}
					}
				}),
				width : width,
				height : height
			});
			Flanet.addWorld(world);
			// async : get friendlist - start
			$.get('https://graph.facebook.com/me/friends'
				, { access_token: '<%= user.token %>' }
				// async callback function - start
				, function(res){
					var flanet_content = new Array();
					var maxLength = 100;
					var length = maxLength > res.data.length ? res.data.length : maxLength;
					for(var i = 0; i < length; i++){
						var s = Math.random() * (scale - 20) + 10;
						world.addPanel(new Flanet.Panel({
							x : x + (Math.random() * 600 - 300),
							y : y + (Math.random() * 600 - 300),
							width : s,
							height : s,
							content : {
								id : res.data[i].id,
								name : res.data[i].name,
								imgSrc : 'https://graph.facebook.com/' + res.data[i].id  + '/picture?type=square',
								clicked : function(){
									/* remove panel
									var panel = Flanet.getCurrentWorld().getPanelById(this.id);
									if(panel)
										Flanet.getCurrentWorld().rmPanel(panel);
									*/
									/* feed to friend */
									var that = this;
									FB.ui({
											method: 'stream.publish',
											link: $(this).attr('data-url'),
											target_id: this.id,
											display: 'iframe'
										}, function(res){
											if (res != null)
												logResponse(res);
										}
									);
								}
							}
						}));
					}
				}
				// async callback function - end
			);
			// async : get friendlist - end
		</script>
	<% } %>
	<!-- Flanet start -->
	<script>
		Flanet.start();
	</script>
	<div class="copyright"><p>Flanet v1.0.5<br/>copyright(c) juwon.lee all rights reserved.</p></div>
</body>
</html>
